:root {
    --primary-color: #054f77;
    --neutral-color: #f0f8ff;
    --primary-font: "Alexandria"; 
    --stylized-font: "Freehand"; 
}


#main-header{
    position: sticky;
    top: 0;
    z-index: 1000;
}


#main-header{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;
}

.company-name {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--neutral-color);
}

.company-subname {
    font-family: var(--stylized-font);
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--neutral-color);
}